@import '../styles/colors.scss';
@import '../styles/mixins.scss';

.section {
    &-main {
        padding-top: 40px;
        position: relative;
        max-width: 1920px;
        margin: 0 auto;
        min-height: 700px;
        &::after,
        &::before {
            height: 764px;
            width: 1363px;
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
        }

        &::after {
            background: url(../images/snow.gif) no-repeat center/cover;
            opacity: .1;
        }

        &::before {
            background: url(../images/bg.png) no-repeat center/cover;

        }
    }

    &-dual {
        margin-top: 54px;
    }

    &-about {
        margin-top: 90px;
    }
}

.header {
    align-items: center;

    &-menu {
        align-items: center;

        &__button {
            width: 25px;
            height: 16px;
            cursor: pointer;
            position: relative;
            z-index: 1;
            transition: width .25s;

            span {
                width: 25px;
                height: 2px;
                background: $white;
                position: relative;
                display: block;

                &::after, &::before {
                    display: block;
                    content: '';
                    width: 12px;
                    height: 2px;
                    background: $white;
                    position: absolute;
                    transition: width .25s;
                }

                &::after {
                    top: 5px;
                }

                &::before {
                    width: 25px;
                    top: 10px;
                }
            }
        }

        &__list {
            margin-left: 50px;
            z-index: -1;

            ul {
                column-gap: 24px;
                font-weight: 400;
                font-size: 14px;
                line-height: 27px;
                text-transform: uppercase;
                transform: translateX(-200px);
                opacity: 0;
            }
        }

        &__link {
            position: relative;
            color: rgba($white, .5);
            transition: color .25s;

            &:hover {
                color: $violet;
            }

            &.lang {
                color: $white;
                font-weight: 700;
                cursor: pointer;

                &:hover {
                    .header-menu__languages {
                        display: block;
                    }
                }

                svg {
                    width: 12px;
                    height: 12px;
                    fill: $white;
                    transform: rotate(180deg);
                    margin-left: 9px;
                }
            }
        }

        &__languages {
            padding: 10px 15px;
            border-radius: 6px;
            background: $dark;
            position: absolute;
            top: 100%;
            display: none;
        }

        &__language {
            font-weight: 500;
            cursor: pointer;
            font-size: 13px;
            color: rgba($white, .5);
            transition: color .25s;

            &:hover {
                color: $violet;
            }
        }
    }

    &.opened {
        .header {
            &-menu {
                &__button {
                    span {
                        width: 12px;

                        &::after {
                            width: 25px;
                        }

                        &::before {
                            width: 12px;
                        }
                    }
                }

                &__list {
                    z-index: 1;

                    ul {
                        opacity: 1;
                        transform: translateX(0);
                        transition: opacity .2s, transform .25s;
                    }
                }
            }
        }
    }

    &-timer {
        margin-left: auto;
        column-gap: 19px;

        span {
            font-weight: 400;
            line-height: 19px;
            color: $grey;
        }

        &__values {
            column-gap: 10px;
        }

        &__item {
            color: $sea;

            &-value {
                font-weight: 700;
                font-size: 40px;
                line-height: 47px;
                min-width: 55px;
                text-align: center;
            }

            &-info {
                font-weight: 400;
                text-align: center;
            }
        }
    }
}

.description {
    margin-top: 7%;
    max-width: 540px;
    animation: move 1s ease-in-out;

    &-title {
        h1 {
            font-weight: 600;
            font-size: 100px;
            line-height: 100px;
        }
    }

    &-subtitle {
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: $sea;
        margin-top: 26px;
    }

    &-button {
        @include button;
        @include hoverViolet;
        margin-top: 30px;
    }
}

.editions {
    &-list {
        margin-top: 32px;
        display: grid;
        grid-template-columns: repeat(3, 350px);
        column-gap: 16px;
        justify-content: center;
    }

    &-item {
        background: linear-gradient(180deg, #141615 0%, #1C2023 100%);
        border-radius: 6px;
        padding: 17px;
        transition: transform .25s ease-in-out;
        transform: translateX(0);

        &__img {
           border-radius: 6px;
           overflow: hidden;
           width: 100%;
           height: 172px;
           @include bg;
        }

        &__title {
            margin-top: 20px;
            font-weight: 700;
            line-height: 19px;
            text-align: center;
        }

        &__subtitle {
            color: $sea;
            line-height: 19px;
            font-weight: 500;
            text-align: center;
            margin: 10px 0 32px 0;
        }

        &__description {
            color: $grey;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            display: flex;
            flex-direction: column;
            row-gap: 12px;
        }

        &__price {
            font-weight: 700;
            font-size: 19px;
            line-height: 23px;
            color: $white;
            margin: 6px 0 14px 0;
            text-align: right;
        }

        &__btn {
            @include button;
            @include hoverViolet;
            padding: 8px 18px;
            font-size: 13px;
            line-height: 15px;
            margin-left: auto;
        }
    }
}

.dual {
    column-gap: 5%;
    margin-top: 20px;
    transition: column-gap .5s;

    &-description {
        max-width: 410px;

        p {
            color: $sea;
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            margin-bottom: 22px;

            span {
                font-weight: 700;
            }
        }

        &__info {
            margin-top: 19px;
            justify-content: space-between;
            align-items: center;
        }

        &__price {
            font-weight: 700;
            font-size: 30px;
            line-height: 36px;
        }

        &__button {
            @include button($orange);
            @include hoverOrange;
            padding: 14px 19px;
            font-weight: 500;
        }
    }

    &-img {
        max-width: 50%;
        position: relative;

        img {
            max-width: fit-content;
            animation: gravitation 1.5s linear infinite alternate;
        }

        &::before {
            content: '';
            display: block;
            width: 194px;
            height: 119px;
            background: rgba(79, 96, 152, .8);
            filter: blur(75px);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.video {
    position: relative;
    margin-top: 32px;
    transition: transform .5s;
    transform: scale(1);

    video {
        width: 100%;
        height: auto;
    }

    &-info {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        text-align: center;

        &.hidden {
            opacity: 0;

            &:hover {
                opacity: 1;
            }
        }
    }

    &-title {
        font-weight: 500;
        font-size: 50px;
        color: $white;
        line-height: 39px;
    }

    &-btn {
        background: $dark;
        border-radius: 6px;
        padding: 9px 26px;
        font-weight: 500;
        line-height: 16px;
        color: $white;
        display: inline-block;
        cursor: pointer;
        margin: 28px auto 0 auto;
        transition: background .25s;
        text-transform: uppercase;
        
        &:hover {
            background: #525C67;
        }
    }
}


@keyframes gravitation {
    0% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes move {
    0% {
        opacity: 0;
        transform: translateX(-400px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}